.about {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.aboutTop {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
    justify-content: center;
    align-items: center;
    padding: 50px;

}


.about .aboutBottom h1 {
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: #7A562E;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
}

.about .aboutBottom b {

    color: #7A562E;

}