.aboutTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: #7A562E;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
}

.searchButton {

    color: #7A562E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7A562E;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}